<form name="productGroupForm" role="form" novalidate [formGroup]="productGroupForm">
  <h2 class="text-info">Form Array</h2>
  <h3>For example: Create a product group</h3>
  <div class="form-group">
    <label for="productGroup">Product group</label>
    <input type="text" class="form-control" id="productGroup" formControlName="productGroup" />
  </div>

  <div *ngFor="let productForm of productList.controls; let i = index">
    <form role="form" novalidate [formGroup]="getProductForm(i)">
      <table class="table-responsive table-borderless">
        <tbody>
          <tr>
            <td><label class="form-control-label" for="name">Name</label></td>
            <td><label class="form-control-label" for="quantity">Quantity</label></td>
            <td><label class="form-control-label" for="price">Price</label></td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control" id="name" formControlName="name" />
            </td>
            <td>
              <input type="text" class="form-control" id="quantity" formControlName="quantity" />
            </td>
            <td>
              <input type="text" class="form-control" id="price" formControlName="price" />
            </td>
            <td>
              <button type="button" class="btn btn-danger rounded-circle" (click)="deleteProduct(i)">
                <span>x</span>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-info rounded-circle" (click)="newProduct(i)">
                <span>+</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div class="mt-2 mb-2">
    <button type="button" class="btn btn-primary" [disabled]="productGroupForm.invalid" (click)="createProductGroup()">
      <span>Create</span>
    </button>
  </div>

  <h6>Products of group:</h6>
  <table class="prod-list">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productListDisplay; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
</form>
