<form name="productGroupForm" role="form" novalidate [formGroup]="productGroupForm">
  <div class="form-group">
    <label for="productGroup"></label>
    <input type="text" class="form-control" id="productGroup" formControlName="productGroup" />
  </div>

  <div *ngFor="let productForm of productList.controls; let i = index">
    <form role="form" novalidate [formGroup]="getProductForm(i)">
      <table class="table-responsive table-borderless">
        <tbody>
          <tr>
            <td><label class="form-control-label" for="name">Name</label></td>
            <td><label class="form-control-label" for="quantity">Quantity</label></td>
            <td><label class="form-control-label" for="price">Price</label></td>
          </tr>
          <tr>
            <td>
              <input type="text" class="form-control" id="name" formControlName="name" />
            </td>
            <td>
              <input type="text" class="form-control" id="quantity" formControlName="quantity" />
            </td>
            <td>
              <input type="text" class="form-control" id="price" formControlName="price" />
            </td>
            <td>
              <button type="button" class="btn btn-danger rounded-circle" (click)="deleteProduct(i)">
                <span>x</span>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-info rounded-circle" (click)="newProduct(i)">
                <span>+</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

  <div>
    <button type="button" class="btn btn-primary" (click)="createProductGroup()">
      <span>Create</span>
    </button>
  </div>

  <div *ngFor="let product of productListDisplay">
    <span>{{ product.name }}</span
    >_ <span>{{ product.quantity }}</span
    >_
    <span>{{ product.price }}</span>
  </div>
</form>
