<div class="justify-content-center p-4">
  <div class="col-6">
    <nav class="nav">
      <a class="nav-link border border-secondary rounded" routerLink="field-validate">Field validate</a>
      <a class="nav-link border border-secondary rounded" routerLink="cross-field-validate">Cross field validate</a>
      <a class="nav-link border border-secondary rounded" routerLink="custom-validate">Custom field validate</a>
      <a class="nav-link border border-secondary rounded" routerLink="form-array">Form array</a>
    </nav>
    <div class="pt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
